<!DOCTYPE html>
<html ng-app="redditClone">
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body ng-controller='controllerName'>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!" value="rating">Votes</a></li>
      <li><a href="#!" value="date">Date</a></li>
      <li><a href="#!" value="title">Title</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper blue">
        <a href="#!" class="brand-logo logo">Reddit Clone</a>
        <ul class="right">
          <li><a ng-click="postForm = !postForm">+Submit Post</a></li>
          <li><input ng-model="searchText" type="search" name="search" placeholder="Search"></li>
          <!-- Dropdown Trigger -->
          <li><a ng-model="sort" class="dropdown-button" href="#!" data-activates="dropdown1">Sort By<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
    {{sort}}
    <div class="container add" ng-show="postForm">
      <div class="row center">
        <h4>Add an Article</h4>
      </div>
      <form name="post" class="form" ng-submit="addPost()" method="post">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" ng-model="title"><br>
        <label for="author">Author</label>
        <input id="author" type="text" name="author" ng-model="author"><br>
        <label for="description">Description</label>
        <textarea id="description" name="description" class="materialize-textarea" ng-model="description"></textarea><br>
        <label for="image_url">Image URL</label>
        <input id="image_url" type="text" name="image_url" ng-model="image_url">
        <center><input type="submit" name="Submit" ng-click="postForm = !postForm"></center><br><br>
      </form>
    </div>

    <section>
      <div class="container" ng-repeat="post in posts | orderBy: sort | filter:searchText">
        <div class="row posts">
          <div class="col s3">
            <img class="image" src="{{post.image_url}}">
          </div>
          <div class="col s9">
            <h5>{{post.title}} | <i class="material-icons" ng-click="upVote()">thumb_up</i> <i class="material-icons" ng-click="downVote()">thumb_down</i> <span ng-class="{positive: post.rating>0, negative:post.rating<0}">{{post.rating}}</span></h5>
            <p class="right">By: {{post.author}}</p><br><br>
            <p>{{post.description}}</p>
            <p>{{post.date | date: 'fullDate'}} |
              <a href="" ng-click="showComment = !showComment">
                <i class="material-icons">comment</i> Comments</a> |
              <a href="" ng-click="showAdd = !showAdd">
                <i class="material-icons">edit</i>Add Comment</a></p>

            <div ng-show="showComment" ng-repeat="comment in post.comments">
            <p>{{comment.comment}} <br>
              From:{{comment.commAuthor}}</p>
            </div>

            <div>
            <form name="comment" ng-show="showAdd" ng-submit="addComment(form)" class="form" method="post">
              <label for="author">Author</label>
              <input type="text" name="author" ng-model="form.commAuthor">
              <label for="comment">Comment</label>
              <textarea id="comment" name="comment" class="materialize-textarea" ng-model="form.comment"></textarea><br>
              <input type="submit" name="submit">
            </form>
            </div>

          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
